<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PushConfig.plist
   VSProject

   Created by 姚君 on 15/11/13.
   Copyright (c) 2015年 user. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
